<div class="tasks-container">
  <div class="tasks-grid">
    <div class="tasks-column" id="to-do">
      <h3>To Do</h3>
      <app-task *ngFor="let task of (toDoTasks$ | async)" [task]="task" (edit)="editTask($event)" (delete)="deleteTask($event)"></app-task>
    </div>
    <div class="tasks-column" id="in-progress">
      <h3>In Progress</h3>
      <app-task *ngFor="let task of (inProgressTasks$ | async)" [task]="task" (edit)="editTask($event)" (delete)="deleteTask($event)"></app-task>
    </div>
    <div class="tasks-column" id="done">
      <h3>Done</h3>
      <app-task *ngFor="let task of (doneTasks$ | async)" [task]="task" (edit)="editTask($event)" (delete)="deleteTask($event)"></app-task>
    </div>
  </div>
</div>
<div class="edit-task-overlay" *ngIf="isEditModalOpen && selectedTask">
  <div class="edit-task-modal">
    <h3>Edit Task</h3>
    <label>Title:</label>
    <input type="text" [(ngModel)]="selectedTask!.title" class="task-input" />
    
    <label>Description:</label>
    <textarea [(ngModel)]="selectedTask!.description" class="task-textarea"></textarea>
    
    <label>Status:</label>
    <select [(ngModel)]="selectedTask!.status" class="task-select">
      <option value="To Do">To Do</option>
      <option value="In Progress">In Progress</option>
      <option value="Done">Done</option>
    </select>
    
    <div class="task-actions">
      <button class="edit-btn" (click)="saveEditedTask()">Save</button>
      <button class="delete-btn" (click)="closeEditModal()">Cancel</button>
    </div>
  </div>
</div>

