<div class="add-task-container">
  <div class="add-task-card">
    <div class="add-task-form">
      <h3>Add New Task</h3>
      <form [formGroup]="newTaskForm" (ngSubmit)="addTask()">
        <div class="form-group">
          <label for="taskName">Task Name:</label>
          <input type="text" id="taskName" formControlName="title">
          <small *ngIf="title?.invalid && title?.touched">Task name is required.</small>
        </div>
        <div class="form-group">
          <label for="taskDesc">Description:</label>
          <textarea id="taskDesc" formControlName="description"></textarea>
          <small *ngIf="description?.invalid && description?.touched">Description is required.</small>
        </div>
        <div class="form-group">
          <label for="taskStatus">Status:</label>
          <select id="taskStatus" formControlName="status">
            <option value="To Do">To Do</option>
            <option value="In Progress">In Progress</option>
            <option value="Done">Done</option>
          </select>
          <small *ngIf="status?.invalid && status?.touched">Status is required.</small>
        </div>
        <button class="add-task-btn" type="submit" [disabled]="newTaskForm.invalid" *ngIf="isLoggedIn$ | async">Add Task</button>
      </form>
    </div>
  </div>
</div>